.scoreboardContainer {
  background-color: #1e1e1e;
  border-left: 1px solid #333;
  padding: 20px;
  width: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%; /* Take full height of parent (mainContainer) */

  @media (max-width: 768px) {
    width: 100%;
    border-left: none;
    border-top: 1px solid #333;
    height: 50vh; /* On small screens, take 50% of viewport height */
  }
}

.scoreboardTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #aaa;
}

.scoreList {
  list-style: none;
  padding: 0;
}

.scoreItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  &.correct {
    background-color: #28a745;
    color: #fff;
  }

  &.incorrect {
    background-color: #dc3545;
    color: #fff;
  }

  &.highscore {
    background-color: #333;
    color: #fff;
  }
}

.current-game-section,
.high-scores-section {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px; /* To prevent content from being hidden by scrollbar */
  scrollbar-width: none; /* For Firefox */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
}
